html, body{
	width:100%;
	height:100%;
	text-align:center;
}
  
table{
	border-collapse:collapse;
	margin:auto;
}

button{
		margin:auto;
}

td{
    border: 2px solid #333;
    height: 30px;
    width: 30px;
    text-align:center;
    vertical-align:middle;
    font-family:"Comic Sans MS";
    font-size: 70px;
	background-color:grey;
    cursor:pointer;
}

.black{
	background-color: black;
}

